/* Put your css in here */

body, html {
    background: #fff;
    font-size: 12;
}
#container {
    width: 510px;
    margin: 0 auto 0 auto;
}
#notice {
    color: #fff;
    font-weight: bold;
    font-size: 11px;
    font-style: italic;
}
h1 {
    font-size: 38px;
    line-height: 45px;
}
h1 span {
    font-size: 16px;
    color: #ff0084;
}
h1 a:hover span {
    color: #ddd;
}
table, td, th {
    border: 0px solid blue;
}
th {
    background-color: lightblue;
    color: black;
}
 
